nav{
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, .5);
}
nav img{
  width: 75%;
}
body{
  background: URL("./PBG-BG-4.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.button{
  color: #d6d6d6;
}

.button:hover{
  color: white;


}